* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: white;
}
.navbar .navbar__name {
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 900;
  justify-self: center;
}
.navbar .drop-menu__btn {
  border: none;
}
.navbar .drop-menu__btn i {
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  background-color: white;
}
.navbar .navbar__drop-menu {
  display: none;
}

.home-section {
  background-color: #272935;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 10vh;
}
.home-section .container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
}
.home-section .container-home img {
  width: 80vw;
  height: auto;
  border-radius: 50%;
}
.home-section .container-home h1 {
  padding-top: 1rem;
  color: white;
  font-size: 2rem;
}
.home-section .container-home p {
  color: white;
  font-size: 1.5rem;
}
.home-section .container-icons-home {
  padding: 1rem;
}
.home-section .container-icons-home ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 4em;
}
.home-section .container-icons-home ul i {
  color: #785548;
}
.home-section .container-icons-home ul li {
  list-style: none;
}

.about-section {
  background-color: #b8b7b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.about-section header {
  font-family: "Montserrat Alternates", sans-serif;
}
.about-section header h2 {
  font-size: 3rem;
}
.about-section .about-section__body {
  width: 80vw;
}
.about-section .about-section__body p {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Lora", serif;
}
.about-section .about-section__container h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  padding: 1rem;
}
.about-section .about-section__container ul {
  padding: 1rem;
}
.about-section .about-section__container ul li {
  list-style-position: inside;
  font-size: 1.5rem;
  font-family: "Lora", serif;
}

.tech-stack-section {
  padding: 2rem;
  background-color: #272935;
}
.tech-stack-section header h2 {
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  font-size: 3rem;
}
.tech-stack-section .container-tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-stack-section .container-tech-stack ul {
  display: flex;
  flex-direction: row;
  font-size: 4em;
  gap: 1rem;
  padding: 1rem;
}
.tech-stack-section .container-tech-stack ul i {
  color: #785548;
}
.tech-stack-section .container-tech-stack ul li {
  list-style: none;
}

.my-projects-section {
  padding: 2rem;
  background-color: #b8b7b7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-projects-section header h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3rem;
  padding: 1rem;
}
.my-projects-section .my-projects-section__container {
  width: 80vw;
  padding: 1rem;
}
.my-projects-section .my-projects-section__container .container-projects__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}
.my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description__buttons--btn1 {
  padding: 0.7rem;
}
.my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description__buttons--btn2 {
  padding: 0.8rem;
}
.my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}
.my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description .container-projects__item__description__text {
  font-family: "Lora", serif;
}
.my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description .container-projects__icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #785548;
  padding-left: 1rem;
}
.my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description .container-projects__icons li {
  font-size: 3rem;
  list-style: none;
  color: #785548;
}
.my-projects-section .my-projects-section__container h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  justify-self: flex-start;
}
.my-projects-section .my-projects-section__container p {
  font-size: 1.5rem;
}
.my-projects-section .my-projects-section__container img {
  width: 80vw;
  height: auto;
  border-radius: 2rem;
}

.contact-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272935;
  padding: 2rem;
  color: white;
}
.contact-me-section header {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 1rem;
}
.contact-me-section header h2 {
  align-self: center;
  padding: 1rem;
  font-size: 2rem;
}
.contact-me-section .contact-form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  font-family: "Lora", serif;
}
.contact-me-section .contact-form button {
  margin-top: 20px;
  width: 40vw;
  height: 5vh;
}
.contact-me-section .restart_btn {
  margin: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .navbar .navbar__name {
    font-size: 3rem;
  }
  .navbar .drop-menu__btn i {
    font-size: 2.5rem;
  }

  .home-section .container-home img {
    width: 50vw;
  }
  .home-section .container-home h1 {
    padding-top: 1rem;
    color: white;
    font-size: 3rem;
  }
  .home-section .container-home p {
    color: white;
    font-size: 2rem;
  }
  .home-section .container-icons-home {
    padding: 1rem;
  }
  .home-section .container-icons-home ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 5rem;
  }
  .home-section .container-icons-home ul i {
    color: #785548;
  }
  .home-section .container-icons-home ul li {
    list-style: none;
  }

  .about-section header h2 {
    font-size: 4rem;
  }
  .about-section .about-section__body {
    width: 75vw;
  }
  .about-section .about-section__body p {
    font-size: 2rem;
    padding: 1rem;
    font-family: "Lora", serif;
  }
  .about-section .about-section__container h3 {
    font-size: 3rem;
  }
  .about-section .about-section__container ul {
    padding: 1rem;
  }
  .about-section .about-section__container ul li {
    font-size: 2rem;
  }

  .tech-stack-section {
    background-color: #272935;
  }
  .tech-stack-section header h2 {
    font-size: 4rem;
  }
  .tech-stack-section .container-tech-stack ul {
    font-size: 5rem;
    gap: 2rem;
  }

  .my-projects-section header h2 {
    font-size: 4rem;
  }
  .my-projects-section .my-projects-section__container {
    width: 75vw;
    padding: 1rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description__buttons {
    gap: 2rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description__buttons--btn1 {
    padding: 1rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description__buttons--btn2 {
    padding: 1rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description .container-projects__icons {
    padding-left: 1.5rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description .container-projects__icons li {
    font-size: 4rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item h3 {
    font-size: 3rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item p {
    font-size: 2rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item img {
    width: 75vw;
  }

  .contact-me-section header {
    width: 75vw;
  }
  .contact-me-section header h2 {
    font-size: 4rem;
  }
  .contact-me-section header h3 {
    font-size: 1.5rem;
  }
  .contact-me-section .contact-form {
    gap: 1rem;
    width: 60vw;
  }
  .contact-me-section .contact-form input {
    height: 1rem;
  }
  .contact-me-section .contact-form label {
    font-size: 1.5rem;
  }
  .contact-me-section .contact-form button {
    margin-top: 20px;
    width: 20vw;
    height: 5vh;
  }
  .contact-me-section .restart_btn {
    font-size: 3rem;
    width: 20vw;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: white;
  }
  .navbar .drop-menu__btn {
    display: none;
  }
  .navbar .navbar__drop-menu {
    display: flex;
  }
  .navbar .navbar__drop-menu ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .navbar .navbar__drop-menu ul li {
    list-style: none;
  }
  .navbar .navbar__drop-menu ul li a {
    text-decoration: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    color: black;
  }
  .navbar .navbar__drop-menu ul li a:hover {
    text-decoration: underline;
  }

  .home-section .container-home img {
    width: 25vw;
    height: 25vw;
  }
  .home-section .container-home h1 {
    font-size: 4rem;
  }
  .home-section .container-home p {
    font-size: 3rem;
  }
  .home-section .container-icons-home {
    padding: 1rem;
  }
  .home-section .container-icons-home ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 5rem;
  }
  .home-section .container-icons-home ul i {
    color: #785548;
  }
  .home-section .container-icons-home ul li {
    list-style: none;
  }

  .about-section header h2 {
    font-size: 6rem;
  }
  .about-section .about-section__body {
    width: 60vw;
  }
  .about-section .about-section__container h3 {
    font-size: 3rem;
  }
  .about-section .about-section__container ul {
    padding: 1rem;
  }
  .about-section .about-section__container ul li {
    font-size: 2rem;
  }

  .tech-stack-section header h2 {
    font-size: 6rem;
  }
  .tech-stack-section .container-tech-stack ul {
    font-size: 6rem;
    gap: 2rem;
  }

  .my-projects-section header h2 {
    font-size: 6rem;
  }
  .my-projects-section .my-projects-section__container {
    width: 50vw;
    padding: 1rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description__buttons {
    gap: 2rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description__buttons--btn1 {
    padding: 1rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description__buttons--btn2 {
    padding: 1rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description .container-projects__icons {
    padding-left: 1.5rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item .container-projects__item__description .container-projects__icons li {
    font-size: 4rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item h3 {
    font-size: 4rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item p {
    font-size: 2rem;
  }
  .my-projects-section .my-projects-section__container .container-projects__item img {
    width: 50vw;
    height: 50vh;
  }

  .contact-me-section header {
    width: 75vw;
    align-items: center;
  }
  .contact-me-section header h2 {
    font-size: 6rem;
  }
  .contact-me-section header h3 {
    font-size: 1.5rem;
  }
  .contact-me-section .contact-form {
    width: 50vw;
  }
  .contact-me-section .contact-form button {
    margin-top: 20px;
    width: 15vw;
    height: 5vh;
  }
  .contact-me-section .restart_btn {
    font-size: 3rem;
    width: 10vw;
  }
}