* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}
.navbar .navbar__name {
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 900;
  justify-self: center;
}
.navbar .drop-menu__btn {
  border: none;
}
.navbar .drop-menu__btn i {
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  background-color: white;
}
.navbar .navbar__drop-menu {
  display: none;
}

.home-section {
  background-color: #272935;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.home-section .container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
}
.home-section .container-home img {
  width: 80vw;
  height: auto;
  border-radius: 50%;
}
.home-section .container-home h1 {
  padding-top: 1rem;
  color: white;
  font-size: 2rem;
}
.home-section .container-home p {
  color: white;
  font-size: 1.5rem;
}
.home-section .container-icons-home {
  padding: 1rem;
}
.home-section .container-icons-home ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 4em;
}
.home-section .container-icons-home ul i {
  color: #785548;
}
.home-section .container-icons-home ul li {
  list-style: none;
}

.about-section {
  background-color: #b8b7b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.about-section header {
  font-family: "Montserrat Alternates", sans-serif;
}
.about-section header h2 {
  font-size: 3rem;
}
.about-section .about-section__body {
  width: 80vw;
}
.about-section .about-section__body p {
  font-size: 1rem;
  padding: 1rem;
}
.about-section .about-section__container h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  padding: 1rem;
}
.about-section .about-section__container ul {
  padding: 1rem;
}
.about-section .about-section__container ul li {
  list-style-position: inside;
}

.tech-stack-section {
  padding: 2rem;
  background-color: #272935;
}
.tech-stack-section header h2 {
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  font-size: 3rem;
}
.tech-stack-section .container-tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-stack-section .container-tech-stack ul {
  display: flex;
  flex-direction: row;
  font-size: 4em;
  gap: 1rem;
  padding: 1rem;
}
.tech-stack-section .container-tech-stack ul i {
  color: #785548;
}
.tech-stack-section .container-tech-stack ul li {
  list-style: none;
}

.my-projects-section {
  padding: 2rem;
  background-color: #b8b7b7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-projects-section header h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3rem;
  padding: 1rem;
}
.my-projects-section .my-projects-section__container {
  width: 80vw;
  padding: 2rem;
}
.my-projects-section .my-projects-section__container h3 {
  font-family: "Montserrat Alternates", sans-serif;
}
.my-projects-section .my-projects-section__container img {
  width: 80vw;
  height: auto;
  border-radius: 2rem;
}

.contact-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272935;
  padding: 2rem;
  color: white;
}
.contact-me-section header {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 1rem;
}
.contact-me-section header h2 {
  align-self: center;
  padding: 1rem;
}
.contact-me-section .contact-form {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.contact-me-section .contact-form button {
  margin-top: 20px;
  width: 40vw;
  height: 5vh;
}
.contact-me-section .restart_btn {
  padding: 1rem;
  font-size: 2rem;
}