*{
margin:0;
padding: 0;

}
// font-family: 'Lora', serif;
//font-family: 'Montserrat Alternates', sans-serif;
//font-family: 'Outfit', sans-serif;



.navbar{
    display: flex;
    flex-direction: row;
}
i {
    color: #785548;
}
.home-section{
    background-color: #272935;
    display: flex;
    flex-direction: column;
    align-items:center;
    .container-home{
        display:flex;
        flex-direction: column;
        align-items:center;
        gap: 1em;
        padding:2em;
        img{
            width:80vw;
            height:auto;
            border-radius: 25px;
        }
        h1{
            color: white;
            //font-family: 
        }
        p{
            color:white;
        }
    }
    .container-icons-home{
        ul{
            display:flex;
            flex-direction: row;
            gap: 1rem;
            font-size: 4em;
            li{
                list-style: none;
            }
        }
    }
    
    
}


.about-section{
    background-color:rgb(184, 183, 183);
    display: flex;
    flex-direction: column;
    align-items:center;
    .about-section__body{
        width:80vw;

    }
    

}
.tech-stack-section{
    .container-tech-stack{
        background-color:#272935 ;
        display:flex;
        flex-direction: column;
        align-items: center;
        
        ul{
            display:flex;
            flex-direction: row;
            font-size: 4em;
            gap: 1rem;
            li{
                list-style: none;
            }
        }
    }
}
.my-projects-section{
    background-color: rgb(184, 183, 183);
    display: flex;
    flex-direction: column;
    align-items:center;
    
    .my-projects-section__container{
        width: 80vw;
        img{
            width:80vw;
            height:auto;
            border-radius: 25px;
        }
    }


    
}
.contact-me-section{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:#272935;
    padding: 40px;
    color:white;
    header{
        h2{
            align-self:center;
        }
    }
    .contact-form{
    display:flex;
    flex-direction: column;
    width: 80vw;
    button{
        margin-top: 20px;
        width:40vw;
        height:5vh;
    }
    }
}
