.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c28c8c;
  height: 100vh;
  width: 100vw;
}
.home .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.home .social .home-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.home .social .home-items .home-items__profile-picture {
  width: 60vw;
  height: auto;
  border-radius: 50%;
}
.home .social__icons {
  list-style: none;
  display: flex;
  gap: 0 1rem;
}
.home .social__button {
  width: 50vw;
  height: 7vh;
}